---
import Section from "../Section.astro";
import SectionHeader from "../SectionHeader.astro";
import portfolioData from "../../data/portfolio.json";
---

<Section id="portfolio-section">
    <SectionHeader
        heading="Portfolio"
        info="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore earum excepturi culpa doloremque illum cumque pariatur unde quas nostrum, voluptate reprehenderit nobis reiciendis non deleniti."
    />

    <section class="mt-14">
        <ol id="portfolio-filters" class="flex gap-x-3">
            <li>
                <button
                    class="filter-btn bg-primary text-dark inline-flex items-center justify-center px-4 py-2 text-[12px] uppercase font-semibold leading-6 rounded-md shadow-sm focus:outline-none focus:shadow-none cursor-pointer transition-all duration-300"
                    data-filter="*"
                >
                    All
                </button>
            </li>
            {
                portfolioData.slice(0, 3).map((i) => (
                    <li>
                        <button
                            class="filter-btn bg-info text-white inline-flex items-center justify-center px-4 py-2 text-[12px] uppercase font-semibold leading-6 rounded-md shadow-sm focus:outline-none focus:shadow-none cursor-pointer transition-all duration-300"
                            data-filter={`.filter-${i.filter}`}
                        >
                            {i.filter}
                        </button>
                    </li>
                ))
            }
        </ol>
    </section>

    <section class="mt-8">
        <ol class="flex flex-wrap portfolio-container">
            {
                portfolioData.map((i) => (
                    <li
                        class={`portfolio-item filter-${i.filter} sm:w-1/2 lg:w-2/6 p-2`}
                    >
                        <a
                            href={`/images/portfolio/${i.image}`}
                            data-gallery="portfolioGallery"
                            class="portfolio-lightbox"
                        >
                            <img
                                src={`/images/portfolio/${i.image}`}
                                alt={`${i.filter}-image`}
                                class="w-full rounded-2xl"
                            />
                        </a>
                    </li>
                ))
            }
        </ol>
    </section>
</Section>

<script is:inline type="module">
    const select = (query, all = false) => {
        query = query.trim();
        if (all) {
            return [...document.querySelectorAll(query)];
        } else return document.querySelector(query);
    };

    const on = (event, query, listener, all = false) => {
        let selectElement = select(query, all);
        if (selectElement) {
            if (all) {
                selectElement.forEach((el) =>
                    el.addEventListener(event, listener)
                );
            } else {
                selectElement.addEventListener(event, listener);
            }
        }
    };

    const portfolioContainer = select(".portfolio-container");
    var iso = new Isotope(portfolioContainer, {
        itemSelector: ".portfolio-item",
        layoutMode: "masonry",
    });

    // imagesLoaded(portfolioContainer, function () {
    //     iso.layout();
    // });

    on(
        "click",
        "ol#portfolio-filters li button.filter-btn",
        function (e) {
            e.preventDefault();
            select(".filter-btn", true).forEach((btn) => {
                // reset all buttons first to default state which in this case is dark background and text white
                btn.classList.remove("bg-primary");
                btn.classList.add("text-white");
                btn.classList.add("bg-info");
            });

            // now style the clikced button
            this.classList.add("bg-primary");
            this.classList.remove("text-white");
            this.classList.remove("bg-info");
            iso.arrange({ filter: this.getAttribute("data-filter") });
        },
        true
    );

    /**
     * Initiate portfolio lightbox
     */

    GLightbox({
        selector: ".portfolio-lightbox",
    });
</script>
