---
import Section from "../Section.astro";
import testimonialsData from "../../data/testimonials.json";
---

<Section className="bg-dim">
    <h2 class="text-2xl md:text-3xl font-semibold mb-5 md:mb-10">
        What our clients says
    </h2>
    <div class="swiper swiper-slides-2">
        <div class="swiper-wrapper w-full">
            {
                testimonialsData.map((i) => (
                    <div class="swiper-slide">
                        <div class="md:pl-14">
                            <div class="pl-[30px] md:pl-[64px] pt-[30px] pr-[30px] pb-[30px] mr-[15px] mb-[30px] bg-white rounded shadow-lg relative">
                                <div class="flex justify-start items-center mb-4 md:mb-0">
                                    <img
                                        src={`/images/${i.image}`}
                                        alt={`picture of ${i.fullName}`}
                                        class="w-[90px] h-[90px] object-cover md:rounded-lg md:p-[6px] md:bg-white md:absolute md:-left-11"
                                    />

                                    <div class="ml-4 md:ml-0">
                                        <h5 class="text-lg font-bold">
                                            {i.fullName}
                                        </h5>
                                        <small class="text-sm text-gray-500 font-bold block">
                                            {i.clientJob}
                                        </small>
                                        <ol class="mt-2">
                                            {[1, 2, 3, 4, 5].map((icon) => (
                                                <i class="fa-solid fa-star text-primary text-lg" />
                                            ))}
                                        </ol>
                                    </div>
                                </div>
                                <p class="italic text-[#64757f] py-4">
                                    {i.feedback}
                                </p>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="swiper-pagination relative mt-5"></div>
    </div>
</Section>

<style>
    :root {
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bullet-height: 12px;
    }
</style>
<script is:inline type="module">
    const feedbackSwiper = new Swiper(".swiper-slides-2", {
        // Optional parameters
        speed: 600,
        direction: "horizontal",
        loop: true,

        slidesPerView: "auto",
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 20,
            },

            1200: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
        },

        autoplay: {
            delay: 4000,
            disableOnInteraction: false,
        },

        // If we need pagination
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            bulletActiveClass: "swiper-pagination-bullet-active bg-primary",
        },
    });
</script>
